<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
<bean id="s1" class="Com.Example.Dependency_Injection.Student">
<property name="id" value="1002"></property>
<property name="name" value="Shahrukh"></property>
<property name="dept" value="MCA"></property>

</bean>

</beans>